[Unit]
Description=Garuda Linux Desktop Environment Boot Selection
DefaultDependencies=no
Before=display-manager.service sddm.service gdm.service lightdm.service
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/lib/garuda/de-apply.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
